<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.service.dao.MarketMapper">
    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
            `market`
            (`stuNum`,`title`,`content`,`createTime`)
        values
            (#{stuNum},#{title},#{content},#{createTime})
    </insert>
    <delete id="deleteOne">
        delete from
            `market`
        where
            `id`=#{id}
    </delete>
    <select id="selectLimit" resultType="com.lushihao.service.bean.Market">
        select * from
            `market`
        <if test="id != 0">
        where
            `id` &lt; #{id}
        </if>
        order by
            `createTime` desc
        limit
            0,10
    </select>
    <select id="selectMyLimit" resultType="com.lushihao.service.bean.Market">
        select * from
            `market`
        where
            `stuNum`=#{stuNum}
        <if test="id != 0">
        and
            `id` &lt; #{id}
        </if>
        order by
            `createTime` desc
        limit
            0,10
    </select>
</mapper>