<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.service.dao.GreatMapper">
    <insert id="insertOne">
        insert into
            `great`
            (`type`,`typeId`,`stuNum`,`createTime`)
        values
            (#{type},#{typeId},#{stuNum},#{createTime})
    </insert>
    <delete id="deleteOne">
        delete from
            `great`
        where
            `id`=#{id}
    </delete>
    <select id="selectOne" resultType="com.lushihao.service.common.Great">
        select * from
            `great`
        where
            `stuNum`=#{stuNum}
        and
            `type`=#{type}
        and
            `typeId`=#{typeId}
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(1) from
            `great`
        where
            `type`=#{type}
        and
            `typeId`=#{typeId}
    </select>
    <select id="selectMyLimit" resultType="com.lushihao.service.common.Great">
        select * from
            `great`
        where
            `stuNum`=#{stuNum}
        order by
            `createTime` desc
        limit 0,10
    </select>
</mapper>